$white: #fff;
$red: #eb0400;

$main-blue: #275efe;

$dark-100: #eaecf2;
$dark-200: #d3d6e4;
$dark-300: #5c6074;
$dark-400: #22273a;
$dark-500: #161a26;
$dark-600: #12151f;

$input-grey: #404456;

$success: #4fbf54;
$error: #f4212e;

$twitter-blue: #1d9bf0;
$twitter-grey: #8b98a5;
$twitter-dark-blue: #15202b;

$twitch-purple: #9146ff;
