$white: #FFF;
$red: #EB0400;

$main-blue: #275EFE;

$dark-100: #EAECF2;
$dark-200: #D3D6E4;
$dark-300: #5C6074;
$dark-400: #22273A;
$dark-500: #161A26;
$dark-600: #12151F;

$input-grey: #404456;

$success: #4FBF54;
$error: #A82727;

$twitter-blue: #1D9BF0;
$twitter-grey: #8b98a5;
$twitter-dark-blue: #15202b;

$twitch-purple: #9146FF;