@import './_colors';
@import './_fonts';

body {
  width: 100%;
  height: 100vh;
  font-family: $poppins;
  color: $dark-200;
  background: $dark-600;
}
#root, .App {
  width: 100%;
  height: 100%;
  display: flex;
}
.main-component {
  background: $dark-600;
  flex: 1;
  &-light {
    background: $white;
    color: $dark-600;
  }
}
.fullscreen-component {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.logo {
  width: 50px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.page-title {
  h2 {
    font-size: 32px;
    line-height: 37px;
    span {
      font-style: italic;
      opacity: .8;
    }
  }
  p {
    font-size: 14px;
    color: $dark-300;
    white-space: pre;
  }
  
}