.img-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-loading {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $dark-200;

    background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 80%
    );
    background-color: $dark-400;
    &-light {
      background-size: 200% 100%;
      background-position-x: 180%;
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 80%
      );
      background-color: $dark-200;
      background-size: 200% 100%;
      background-position-x: 180%;
      animation: 2s loading ease-in-out infinite;
    }
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 2s loading ease-in-out infinite;
  }
}
@keyframes loading {
  to {
    background-position-x: -40%;
  }
}
