.profile-picture-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  .profile-picture-wrapper {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  input {
    width: 0;
    visibility: hidden;
  }
  label {
    color: $input-grey;
    cursor: pointer;
    &.add-photo {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: #000000, $alpha: 0);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: .2s;
      svg {
        display: none;
        width: 20px;
        height: 20px;
        fill: $dark-100;
      }
    }
    &.importing {
      opacity: .4;
    }
    &.label-light {
      color: $dark-300;
    }
  }
  &:hover label.add-photo {
    background: rgba($color: #000000, $alpha: .5);
    svg {
      display: block;
    }
  }
}