.input-group {
  position: relative;
  width: 300px;
  min-height: 70px;
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid $input-grey;
    background: $dark-600;
    border-radius: 5px;
    outline: none;
    color: $dark-100;
    font-size: 1em;
    transition: 0.3s;
  }
  label {
    position: absolute;
    left: 0;
    padding: 8px 10px;
    pointer-events: none;
    font-size: 1em;
    color: $input-grey;
    transition: 0.3s;
  }
  input:focus, input:not(:placeholder-shown) {
    & + label {
      transform: translateX(10px) translateY(-10px);
      font-size: 0.8em;
      padding: 0 7px;
      background: $dark-600;
    }
  }
  input:not(:placeholder-shown) {
    border-color: $input-grey;
    & + label {
      color: $input-grey;
    }
  }
  input:focus {
    border-color: $main-blue;
    & + label {
      color: $main-blue;
    }
  }
  .error-msg {
    color: $error;
    font-size: 13px;
  }
  &-light {
    input {
      background: $white;
      color: $dark-600;
      border-color: $dark-300;
    }
    label {
      color: $dark-300;
    }
    input:focus, input:not(:placeholder-shown) {
      & + label {
        background: $white;
      }
    }
    input:not(:placeholder-shown) {
      border-color: $dark-300;
      & + label {
        color: $dark-300;
      }
    }
  }
  &.error {
    input {
      border-color: $error;
    }
    label {
      color: $error !important;
    }
  }
}