@import './colors';

.menu {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $dark-500;
  &-light {
    background: $dark-100;
    color: $dark-600;
    a {
      color: $dark-600;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  &-bottom {
    background: red;
  }
}