.onboarding-component {
  .twitch-btn {
    background: $twitch-purple;
  }
  .onboarding-stage {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .page-title {
      margin: 17vh 0;
    }
    .component-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
