.onboarding-component {
  .twitch-btn {
    background: $twitch-purple;
  }
  .onboarding-stage {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .page-title {
      margin: -7vh 0 17vh 0;
    }
    .component-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .onboarding-stage-0 {
    justify-content: space-evenly;
    .page-title {
      margin: 0;
    }
    .already-registered-link {
      text-align: center;
      span {
        color: $main-blue;
        cursor: pointer;
        text-decoration: underline;
        margin-left: 5px;
      }
    }
  }
  .onboarding-stage-1 {
    padding: 0 10vw;
  }
}
