.tweet {
  width: 500px;
  background: $twitter-dark-blue;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(39, 94, 254, 0.2);
  //border: 1px solid rgba(139, 152, 165, 0.2);
  .bot-data {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    div:first-of-type {
      .name {
        font-size: 15px;
        font-weight: 700;
        color: $dark-100;
      }
      .username {
        font-size: 14px;
        color: $twitter-grey;
      }
      .automated {
        display: flex;
        align-items: center;
        color: $twitter-grey;
        font-size: 15px;
        .robot-icon {
          width: 15px;
          height: 15px;
          fill: $twitter-grey;
          margin-right: 5px;
        }
      }
    }
    .dots-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      fill: $twitter-grey;
      &:hover {
        fill: $twitter-blue;
      }
    }
  }
  .body {
    font-size: 22px;
    color: $dark-100;
    .twemoji {
      width: 23px;
      height: 23px;
      margin: 0 3px;
    }
  }
  .date {
    font-size: 15px;
    color: $twitter-grey;
    margin: 15px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 1px solid #38444d;
    svg {
      width: 25px;
      fill: $twitter-grey;
      cursor: pointer;
    }
    .comment-icon, .share-icon {
      &:hover {
        fill: $twitter-blue;
      }
    }
    .retweet-icon:hover {
      fill: $success;
    }
    .like-icon:hover {
      fill: $error;
    }
  }
}