.twitch-x-twitter {
  display: flex;
  align-items: center;
  .bubble {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 -7px;
    &::before {
      content: '';
      position: absolute;
      width: 135%;
      height: 135%;
      border-radius: 50%;
      opacity: 0.2;
    }
    svg {
      width: 25px;
      height: 25px;
      position: relative;
      fill: white;
    }
    &.twitch {
      position: relative;
      background: $twitch-purple;
      &::before {
        background: $twitch-purple;
      }
    }
    &.twitter {
      position: relative;
      background: $twitter-blue;
      &::before {
        background: $twitter-blue;
      }
    }
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px #0000004a;
    z-index: 2;
    svg {
      width: 20px;
      height: 20px;
      color: $dark-600;
    }
  }
}
